* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
div{
    padding: 20px;
}
section{
    border-left: 2px solid rgb(211, 209, 209);
    margin-left: 10px;
}

div {
    position: relative;
}

img{
    height: 20px;
    width: 20px;
    position: absolute;
      left: -10px;
}